<div class="col-sm-3 mt-2">
  <div class="card text-center shadow mb-5 bg-white rounded">
    <div class="card-body p-1">
      <script type="text/javascript" src="<%= src_to_brainyquote_js_feed %>"></script>
    </div>
  </div>
</div>
