<div class="container">
  <div class="row justify-content-md-center">
    <div class="col mt-2 text-center">
      <h1>Welcome to the About page</h1>
      <%= link_to 'Quotes listing', quotes_path %> |
      <%= link_to 'Home page', root_path %>
    </div>
  </div>
</div>
