<h2 class="text-center mt-4">Listing all categories</h2>

<%= will_paginate @categories, list_classes: %w(pagination justify-content-center) %>
<div class="container">
  <div class="row justify-content-md-center">
    <% @categories.each do |category| %>
      <div class="col-sm-3 mt-2">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body p-1">
            <h5 class="card-title m-1">#<%= link_to category.name, category_path(category) %></h5>
          </div>
          <div class="card-footer text-muted">
            <small>Added <%= time_ago_in_words(category.created_at) %> ago</small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= will_paginate @categories, list_classes: %w(pagination justify-content-center) %>
